PORT=8787

DISPATCH_MODE=ssh
SSH_HOST=192.168.1.50
SSH_PORT=22
SSH_USER=maitre
SSH_REMOTE_PATH=/home/maitre/ChromIAlux/inbox
# optionnel: si tu veux forcer une clé particulière
SSH_KEY_PATH=/home/maitre/.ssh/id_ed25519
